*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100;
}

label.logo{
    color: rgb(245, 8, 8);
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;


}

nav ul{
    float: right;
    margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a:active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.btn-button{
    cursor: pointer;
    font-size: 24px;
    margin:50px 50px 50px 100px;
    position: relative;
    background-color: #f59701;
    border: none;
    width: 200px;
    color: white;
    border-radius: 6px;
    text-align: center;
    transition: 0.4s all;
    text-decoration: none;
    overflow: hidden;
    padding: 20px;
    
    
}

.btn-button:hover{
    background-color: #fff;
    box-shadow: 0px 2px 10px 5px #97b1bf;
    color: #000;
}

.btn-button:focus{
    outline: none;
}